{{> header}}
<h1>BIENVENIDOS A LA PLANTILLA HOME</h1>
<p>Esta es la plantilla home.hbs</p>
<p>Estamos en la ruta: {{ruta}}</p>
<p>El usuario es: {{mayusculas usuario}}</p>

<a href="/about">Ir a la página de About</a>