/* IMPORTACIONES */
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');


/* COMODIN */
* {
    padding: 0px;
    margin: 0px;
    /* MODO DESARROLLO */
    outline: 2px dashed black;
}

/* SELECTORES DE ETIQUETA */

section {
    background-color: lightgray;
    min-height: 64px;
}

main {
    background-color: lightblue;
    height: 400px;
}

nav {
    background-color: lightgreen;
    height: 48px;
}




/* SELECTORES DE CLASE */

.historia {
    height: 48px;
    width: 48px;
    overflow: hidden;
    background-color: goldenrod;
    margin: 16px;
    padding: 4px;
    border: 2px solid lightcoral;
    /* BOXSIZING */
    box-sizing: border-box;
    /* DISPLAY */
    display: inline-block;
}

.historia-img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid fuchsia;
}

.historia-p {
    font-size: 10px;
}

/* ID */

#mi-historia-img {
    border: none;
}


/* SELECTOR DESCENDETE */

.historia img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid fuchsia;
}

.historia p {
    font-size: 10px;
    color: red;
}

/* COMBINADO */

article.historia {
    height: 64px;
    width: 100%;
    background-color: lightcoral;
}


/* ATRIBUTOS */

.historia[read="true"] img {
    border: 2px solid black;
}

.historia[read="true"] p {
    color: black;
}


/* ESTILOS DE LA CABECERA */

header {
    /* background-color afecta el color de fondo */
    background: #ff00a2;
    background: linear-gradient(180deg, #ff00a2 0%, #ffce00 80%);
    height: 48px;
}

/* PROPIEDADES DEL TEXTO */

header>h1 {
    /* La propiedad color afecta el color del texto */
    color: #000000;
    /* La propiedad font-size afecta el tamaño del texto */
    font-size: 1.5em;
    /* ALINEACIÓN DEL TEXTO */
    text-align: center;
    /* DECORACIÓN */
    text-decoration: underline;
    /* FONT STYLE (DEPENDE DE QUE LA FAMILIA SOPORTE EL ESTILO) */
    font-style: oblique;
    /* FONT WEIGHT (DEPENDE DE QUE LA FAMILIA SOPORTE EL ESTILO) */
    font-weight: 100;
    /* FONT FAMILY */
    font-family: "Rouge Script", cursive;
    /* TEXT SHADOW */
    text-shadow: 5px 6px 0px rgba(0, 0, 0, 0.24);

}