/* RESET */
*{
    margin: 0px;
    padding: 0px;
    /* OPCIONAL */
    box-sizing: border-box;
}

body{
    overflow: visible;
}

/* ESTilos comunes para texto */

h1 {
    /* Color del texto */
    color: rgb(0, 0, 0);
    /* Color de fondo */
    background-color: rgb(255, 123, 0);
    /* Tamaño de fuente */
    font-size: 2em;
}

#titulo-raro {
    text-decoration: wavy underline;
}


/* ESTILOS FLEXIBLES */

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: hotpink;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
}

.contenedor-flexible {
    outline: 2px solid black;
    min-height: 128px;
    display: flex;
    flex-direction: row;
    /* Dirección de los elementos */
    align-items: center;
    /* WRAP */
    flex-wrap: wrap;
    align-content: space-evenly;

}

/* ALINEACION CENTRO */
.contenedor-flexible[justify-content="center"] {
    justify-content: center;
    /* Alineación horizontal */
}

/* ALINEACION AL FINAL  */
.contenedor-flexible[justify-content="flex-end"] {
    justify-content: flex-end;
    /* Alineación horizontal */
}

/* DISTRIBUCION UNIFORME */
.contenedor-flexible[justify-content="space-evenly"] {
    justify-content: space-evenly;
    /* Distribución uniforme */
}

/* DISTRIBUCION INTERNA */
.contenedor-flexible[justify-content="space-between"] {
    justify-content: space-between;
}

/* DISTRIBUCION AL REDEDOR */
.contenedor-flexible[justify-content="space-around"] {
    justify-content: space-around;
    /* Distribución alrededor */
}


/*  */

.contenedor-flexible2 {
    outline: 2px solid black;
    min-height: 128px;
    display: flex;
    flex-direction: row;
    /* Dirección de los elementos */
    align-items: center;
    /* WRAP */
    flex-wrap: wrap;
    align-content: space-evenly;
}


.col {
    background-color: greenyellow;
    flex-grow: 1;
    flex-basis: 100px;
    flex-shrink: 0;
    outline: 2px solid red;
}


.contenedor-flexible3 {
    outline: 2px solid black;
    height: 128px;
    display: flex;
    flex-direction: row;
}

.col-1 {
    background-color: lightblue;
    flex: 1;
    align-self: center;
}

.col-2 {
    background-color: lightcoral;
    flex: 2;
    align-self: flex-end;
}

.col-3 {
    background-color: lightgreen;
    flex: 3;
    align-self: flex-start;
}


/* POSICIONAMIENTO */

nav {
    background-color: dodgerblue;
    height: 48px;
    padding: 8px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    left: 0px;
}

nav h1 {
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    margin: 0px;
}


.boton-flotante {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: dodgerblue;
    font-size: 1.5em;
    color: white;
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.boton-notificacion {
    position: relative;
}

.notificacion {
    background-color: red;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    position: absolute;
    top: -8px;
    right: -8px;
    color: white;
}